
.slide-show {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
    
}

.slide-show__img {
    grid-row: 1 / 2 span;
}

.banner__img{
    width: 100%;
    height: 100%;
    object-fit: 1;
}

.banner__img:nth-child(2n + 1) {
    grid-row: 1 / 2;
}

.banner__img:nth-child(2n + 2) {
    grid-row: 2 / 3;
}